/* This CSS Reset is not best practice.
    TODO: Replace CSS Reset */

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    margin-bottom: 30px;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A2C4FC;
    size: auto;
}

.title {
    text-align: center;
    padding-left: 42%;
}

li {
    float: left;
}

li a {
    display: block;
    color: #3A3A3C;
    text-align: center;
    /* font-weight: bold; */
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: #A2C4FC;
}

.banner {
    height: 50px;
    line-height: 50px;
    background-color: #DAE8FC;
    text-align: center;
}

.centered {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.index-content {
    overflow: hidden;
    text-align: center;
}

.index-top {
    margin-bottom: 30px;
}

.index-search-container {
    display: inline-block;
    width: 100%;
    /* height: auto; */
    border: 1px solid black;
    width: 500px;
    height: 30px;
    position: relative;
    display: flex;
    min-width: 100px;
    border-radius: 5px;
}


/* a cool color for seach box, might need it later */


/* .index-search-container:hover, .index-search-container:focus {
        border: 1.5px solid #009688;
        background-color: white;
    } */

.index-search input[type=text] {
    padding: 5px;
    font-size: 90%;
    /* border: none; */
    width: 90%;
    float: left;
    height: auto;
    padding-right: 45px;
    outline: 0;
    border-radius: 5px;
}

.index-search button {
    padding: 6px 10px;
    background: rgb(255, 255, 255);
    /* font-size: 17px; */
    /* border: none; */
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 0;
    /* top: 0; */
}