services:
  backend:
    ulimits:
      core:
          hard: 0
          soft: 0
    restart: unless-stopped
    image: vv8_backend_api
    depends_on:
      - task_queue_broker
      - database
      - mongodb
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "4000:4000/tcp"
    environment:
      VV8_CELERY_BROKER: task_queue_broker
      VV8_CELERY_BROKER_PORT: 6379
      VV8_CELERY_ID: vv8_web_server
      SQL_USERNAME: vv8
      SQL_PASSWORD: vv8
      SQL_HOST: database
      SQL_PORT: 5432
      SQL_DATABASE: vv8_backend
      MONGO_HOST: mongodb
      MONGO_PORT: 27017
      MONGO_USER: vv8
      MONGO_PASSWORD: vv8
      MONGO_DATABASE: admin
  database:
    restart: unless-stopped
    image: vv8_postgres
    build:
      context: ./vv8_backend_database
      dockerfile: Dockerfile
    command: postgres -c config_file=/etc/postgresql.conf
    ports:
      - "5434:5432/tcp"
    environment:
      POSTGRES_PASSWORD: vv8
      POSTGRES_USER: vv8
      POSTGRES_DB: vv8_backend
      PGDATA: /var/lib/postgresql/data/pg_data
    volumes:
      - ./vv8db2:/var/lib/postgresql/data
  task_queue_broker:
    ulimits:
        core:
            hard: 0
            soft: 0
    restart: unless-stopped
    image: redis:6.2
    volumes:
      - ./redis_data:/data
    ports:
      - "6380:6379/tcp"
  mongodb:
    image: 'mongo:6'
    environment:
      MONGO_INITDB_ROOT_USERNAME: vv8
      MONGO_INITDB_ROOT_PASSWORD: vv8
    command: --wiredTigerCacheSizeGB 2.0
    ports:
      - 27017:27017
    restart: unless-stopped
    volumes:
      - ./mongo/data:/data/db
      - ./mongo/init/:/docker-entrypoint-initdb.d/:ro
  # Celery Workers
  vv8_worker:
    ulimits:
        core:
            hard: 0
            soft: 0
    restart: unless-stopped
    depends_on:
      - task_queue_broker
      - database
    ports:
      - "5901:5901/tcp"
      - "6901:6901/tcp"
    build:
      context: ./celery_workers
      dockerfile: vv8_worker.dockerfile
    image: vv8_crawler_worker
    environment:
      VV8_CELERY_BROKER: task_queue_broker
      VV8_CELERY_BROKER_PORT: 6379
      VV8_CELERY_ID: vv8_worker
      CELERY_CONCURRENCY: ${CELERY_CONCURRENCY:-9}
      MONGO_HOST: mongodb
      MONGO_PORT: 27017
      MONGO_USER: vv8
      MONGO_PASSWORD: vv8
      MONGO_DATABASE: admin
    volumes:
      - ./screenshots:/app/screenshots:rwx
      - ./har:/app/har:rwx
      - ./celery_workers/vv8_worker/vv8_crawler:/app/node:rwx
      - '/app/node/node_modules'
      - ./raw_logs:/app/vv8_worker/raw_logs:rwx
  log_parser_worker:
    ulimits:
        core:
            hard: 0
            soft: 0
    restart: unless-stopped
    depends_on:
      - task_queue_broker
      - database
      - mongodb
    build:
      context: ./celery_workers
      dockerfile: log_parser.dockerfile
      args:
        DOCKER_IMAGE: visiblev8/vv8-postprocessors:latest
    image: vv8_log_parser_worker
    volumes:
      - ./raw_logs:/app/raw_logs:rwx
      - ./parsed_logs:/app/parsed_logs:rwx
    env_file:
      - .env
    environment:
      VV8_CELERY_BROKER: task_queue_broker
      VV8_CELERY_BROKER_PORT: 6379
      VV8_CELERY_ID: vv8_log_parser
      MONGODB_HOST: mongodb
      MONGODB_PORT: 27017
      MONGODB_USER: vv8
      MONGODB_PWD: vv8
      MONGODB_AUTHDB: admin
      CELERY_CONCURRENCY: ${CELERY_CONCURRENCY:-9}
      PGHOST: database
      PGPORT: 5432
      PGUSER: vv8
      PGPASSWORD: vv8
      PGDATABASE: vv8_backend
      ADBLOCK_BINARY: /app/post-processors/adblock
      EASYPRIVACY_FILE: /app/post-processors/easyprivacy.txt
      EASYLIST_FILE: /app/post-processors/easylist.txt
      EMAP_FILE: /app/post-processors/entities.json
      IDLDATA_FILE: /artifacts/idldata.json
  flower:
    restart: unless-stopped
    depends_on:
      - task_queue_broker
      - database
    image: vv8-vv8_crawler_flower_monitor
    build:
      context: ./flower
      dockerfile: Dockerfile
    volumes:
      - ./flower/data:/etc/db:rwx
    ports:
      - "5555:5555/tcp"
volumes:
  vv8postgresdb: {}

