version: "3.9"
services:
  test.vv8_worker:
    build:
      context: ./task_queue
      dockerfile: task_queue.test.dockerfile
    image: test.task_queue
    environment:
      VV8_CELERY_BROKER: task_queue_broker
      VV8_CELERY_BROKER_PORT: 6379
      VV8_CELERY_ID: vv8_worker
      VV8_CELERY_BACKEND_USER: vv8
      VV8_CELERY_BACKEND_PASSWORD: vv8
      VV8_CELERY_BACKEND_HOST: database
      VV8_CELERY_BACKEND_PORT: 5432
      VV8_CELERY_BACKEND_DATABASE: celery_backend
  test.web_server:
    image: test.web_server
    build:
      context: ./web_server
      dockerfile: web_server.test.dockerfile
    ports:
      - "8081:80/tcp"
    environment:
      VV8_CELERY_BROKER: task_queue_broker
      VV8_CELERY_BROKER_PORT: 6379
      VV8_CELERY_ID: vv8_web_server
      VV8_CELERY_BACKEND_USER: vv8
      VV8_CELERY_BACKEND_PASSWORD: vv8
      VV8_CELERY_BACKEND_HOST: database
      VV8_CELERY_BACKEND_PORT: 5432
      VV8_CELERY_BACKEND_DATABASE: celery_backend
  test.database_sidecar:
    image: test.vv8db_sidecar
    build:
      context: ./database_sidecar
      dockerfile: Dockerfile
    environment:
      VV8_DB_USERNAME: vv8
      VV8_DB_PASSWORD: vv8
      VV8_DB_HOST: database
      VV8_DB_PORT: 5432
      VV8_DB_NAME: vv8_logs
    ports:
      - "7777:80/tcp"